# Build output
build/
out/
zephyr/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Backups
*.backup
*.bak
*~
*.swp

# IDE / OS
.vscode/
.idea/
.DS_Store

# Python
__pycache__/
.env
src/test_data/cifar-10-python.tar.gz
.venv/
build/

# Large files and unused resources
SecureQNN_repo/
Papers/
images/
split_inference/data.h
serial_*.txt
*.tflite
src/model_encrypted*.h
src/qnn_inference.c
src/cifar_resnet_lite_int8_encrypted.h
src/cifar10_reference_data.h
.github/
VM_split_inference/
